@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --shadow-blue: #000080 2px 4px
}

body {
    background-color: whitesmoke;
    /* width: 100vw;
    height: 100vh; */
    font-family: 'Montserrat';
}

.container {
    /* height: 100%; */
}

li {
    list-style-type: none;
}

.image-main {
    width: 100vw;
    height: 100vh;
    background: url(./images/camara_dentro.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    filter: brightness(0.5);
    z-index: -1;
}

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 2em;
    height: 3em;
    justify-content: space-evenly;
    color: #dadada;
    background-color: rgba(0, 0, 0, 0.7);
    /* z-index: 2; */
}

.navbar > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar > div:first-child > img {
    max-width: 100%;
    max-height: 100%;
    padding: 0 1em;
    filter: invert(100%);
}

.navbar > div > span {
    font-size: 1.2em;
}

.navbar > div:last-child > ul {
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

.navbar > div > ul > a {
    color: #c8c8c8;
    text-decoration: none;
    margin-left: 1.2em;
    cursor: pointer;
}

.navbar > div > ul > a > li {
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
}

.navbar > div > ul > a > li:hover {
    border-bottom: 2px solid goldenrod;
    color: white;
    opacity: 100%;
    transition: color 0.3s;
}

/* HOME */

#home {
    /* position: relative; */
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* z-index: 2; */
}

#home > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40%;
}

#home .title {
    font-size: 4em;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat';
    text-shadow: var(--shadow-blue)
}

#home .subtitle {
    font-size: 1.4em;
    color: whitesmoke;
    text-shadow: var(--shadow-blue);
    margin-top: 1.2em;
}

button {
    outline: none;
    border: none;
    margin-top: 3em;
    padding: 1em 6em;
    font-weight: bold;
    color: whitesmoke;
    background-color: navy;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#home > div > button:hover {
    color: navy;
    background-color: whitesmoke;
}

/* DEPUTIES SEARCH */

#search-area > div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

#search-area > div > * {
    margin-bottom: 2.4em;
}


#search-area > div > span:nth-child(1) {
    font-size: 1.2em;
    font-weight: bold;
    color: navy;
    margin-bottom: 1.4em;
}

#search-area > div > span:nth-child(2) {
    font-size: 1.6em;
    font-weight: bold;
    color: navy;
}

input {
    max-width: 30%;
    height: 40px;
    font-size: 1.2em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#search-area > div > input {

}

#deputies {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, auto);
    gap: 2em;
    justify-content: center;
    padding: 0 2em;
}

.deputy {
    border: 1px solid red;
    text-align: center;
}

.deputy-name {
    display: inline;
    width: fit-content;
}

.deputy-details {
    max-width: 40%;
    align-self: center;
    margin: 0 auto;
}

.deputy > a > span {
    display: block;
}

.deputy > a > div {
    border: 1px solid blue;
}

.deputy > div {
    border: 1px solid green;
}

.deputy > a > img {
    border: 1px solid black;
}